@charset "UTF-8";
@font-face {
  font-family: "Museo Sans Cyrl 300";
  src: url("../fonts/MuseoSansCyrl-300.woff2") format("woff2"), url("../fonts/MuseoSansCyrl-300.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Museo Sans Cyrl 500";
  src: url("../fonts/MuseoSansCyrl-500.woff2") format("woff2"), url("../fonts/MuseoSansCyrl-500.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

* {
  box-sizing: border-box; }

body {
  background: #F5F5F5; }

.clearfix {
  display: block;
  height: 15px;
  clear: both; }

.container {
  font-family: 'Museo Sans Cyrl 300', arial, sans-serif;
  font-size: 15px;
  width: 960px;
  margin: 0 auto; }
  @media (max-width: 960px) {
    .container {
      width: 100%; } }

.header {
  position: relative;
  margin-bottom: -55px;
  height: 155px;
  padding: 30px 0;
  background: #E61400; }
  .header img {
    display: block;
    height: 55px;
    float: left; }
  .header div {
    max-width: 960px;
    margin: 0 auto; }
  .header__title {
    font-family: 'Museo Sans Cyrl 300', arial, sans-serif;
    color: #fff;
    float: right;
    margin: 0.55em 0; }
  @media (max-width: 760px) {
    .header img {
      height: 40px; }
    .header {
      padding: 25px 25px; } }
  @media (max-width: 560px) {
    .header img {
      height: 30px; }
    .header {
      height: 125px;
      padding: 25px 25px; }
    .header__title {
      font-size: 15px; } }

.filters {
  position: relative;
  background: #fff;
  display: block;
  font-size: 0;
  color: #212121;
  margin-bottom: 24px;
  border-radius: 3px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 5px 0px rgba(0, 0, 0, 0.23);
  padding: 30px 40px; }
  @media (max-width: 760px) {
    .filters {
      padding: 0 25px 25px 25px; } }
  @media (max-width: 560px) {
    .filters {
      padding: 0 20px 20px 20px; } }

.field {
  position: relative;
  display: inline-block;
  width: 260px;
  padding: 25px 0 0 0;
  margin: 0 45px 0 0;
  font-size: 0;
  border: 0; }
  .field:last-of-type {
    margin-right: 0; }
  .field.third {
    margin-right: 0; }
  .field label {
    position: absolute;
    font-size: 15px;
    left: 0;
    top: 0; }
  .field select, .field input {
    font-family: 'Museo Sans Cyrl 300', arial, sans-serif;
    font-size: 15px;
    height: 33px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none; }
  .field select {
    width: 100%;
    padding: 0 15px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px; }
  .field select::-ms-expand {
    display: none; }
  .field input {
    width: 100%;
    padding: 0px 15px;
    box-sizing: border-box;
    border-radius: 3px;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    outline: none; }
  .field__select-box {
    position: relative; }
    .field__select-box.focused::after {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg); }
    .field__select-box::after {
      position: absolute;
      right: 15px;
      top: 50%;
      width: 11px;
      height: 6px;
      margin-top: -2px;
      content: '';
      background: url(../images/icons/select-icon.svg);
      transition: -webkit-transform .1s ease-out;
      transition: transform .1s ease-out;
      transition: transform .1s ease-out, -webkit-transform .1s ease-out;
      transition: transform .1s ease-out,-webkit-transform .1s ease-out; }
  .field__icon {
    position: absolute;
    display: block;
    cursor: pointer; }
  .field__icon_calendar {
    bottom: 3px;
    right: 7px;
    width: 28px;
    height: 28px;
    background: url(../images/icons/calendar.svg);
    background-size: contain;
    opacity: .4; }
  .field__icon_clear {
    bottom: 9px;
    right: 14px;
    width: 14px;
    height: 14px;
    background: url(../images/icons/close.svg) no-repeat;
    opacity: .4; }
  .field__icon_hidden {
    display: none; }
  @media (max-width: 760px) {
    .field {
      display: block;
      margin-right: 0;
      padding-top: 55px; }
    .field label {
      top: 25px; } }
  @media (max-width: 560px) {
    .field {
      padding-top: 50px;
      width: 100%; }
    .field label {
      top: 20px; } }

.schedule {
  margin: 30px 0;
  border-radius: 3px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 5px 0px rgba(0, 0, 0, 0.23);
  background-color: #fff; }
  .schedule__not-found {
    padding: 30px;
    text-align: center; }
    .schedule__not-found--hidden {
      display: none; }

.lecture {
  padding: 15px 30px; }
  .lecture:not(:last-of-type) {
    border-bottom: 1px solid #eee; }
  .lecture--is-over {
    color: #c7c7c7; }
  .lecture::after {
    content: "";
    display: table;
    clear: both; }
  .lecture:hover .lecture__edit-button a {
    visibility: visible;
    opacity: 1; }
  .lecture__date-and-room {
    width: 20%;
    display: inline-block;
    vertical-align: middle; }
  .lecture__time, .lecture__room {
    display: block;
    font: 15px 'Museo Sans Cyrl 300';
    color: #959595; }
  .lecture__room {
    padding-top: 5px; }
  .lecture__name, .lecture__schools, .lecture__lecturers {
    display: inline-block;
    vertical-align: middle; }
  .lecture:not(.lecture--is-over) .lecture__name, .lecture:not(.lecture--is-over) .lecture__schools {
    color: #44b; }
  .lecture__name {
    width: 40%;
    margin-right: 5%; }
    .lecture__name span {
      display: block; }
  .lecture__schools {
    width: 5%;
    margin-right: 5%; }
    .lecture__schools span {
      display: block; }
  .lecture__name {
    font-family: 'Museo Sans Cyrl 500';
    font-size: 17px; }
  .lecture__schools {
    font-family: 'Museo Sans Cyrl 500'; }
    .lecture__schools span {
      display: block; }
      .lecture__schools span:not(:first-of-type) {
        padding-top: 5px; }
  .lecture__lecturers {
    width: 20%; }
  .lecture__lecturer-name {
    border-bottom: 1px dashed rgba(0, 0, 0, 0.3);
    cursor: pointer; }
  .lecture__lecturer-block {
    position: relative;
    display: block; }
    .lecture__lecturer-block:not(:first-of-type) {
      padding-top: 5px; }
  .lecture__materials {
    width: 20%;
    display: inline-block; }
    .lecture__materials span {
      display: block;
      padding-bottom: 10px; }
  .lecture__link {
    display: inline-block;
    color: #000;
    font-size: 15px;
    line-height: 30px;
    text-decoration: none;
    border-radius: 3px;
    border: 1px solid #ffdb4d;
    padding: 0 15px; }
  .lecture__edit-button {
    width: 3%;
    display: inline-block;
    vertical-align: middle; }
  .lecture__edit-button a {
    display: inline-block;
    visibility: hidden;
    opacity: 0;
    float: right;
    cursor: pointer; }
  .lecture__edit-button i {
    transition: background 0.3s;
    width: 28px;
    height: 28px;
    display: inline-block;
    background: url(../images/icons/edit.svg);
    background-size: contain; }
  @media (max-width: 760px) {
    .lecture {
      padding: 25px; }
    .lecture__date-and-room {
      width: 100%;
      margin: 0;
      padding-bottom: 20px; }
    .lecture__materials {
      display: block;
      width: 100%;
      padding-bottom: 20px; }
      .lecture__materials span {
        display: inline-block;
        padding-right: 20px; }
    .lecture__lecturers {
      display: block;
      width: 100%;
      padding-bottom: 20px; }
    .lecture__name, .lecture__schools {
      width: 100%;
      margin: 0;
      padding-bottom: 20px; } }
  @media (max-width: 560px) {
    .lecture {
      padding: 20px; }
    .lecture__date-and-room {
      padding-bottom: 20px; }
    .lecture__materials {
      padding-bottom: 20px; }
      .lecture__materials span {
        padding-right: 15px; }
    .lecture__name, .lecture__schools {
      padding-bottom: 20px; } }

/*Add lecture form*/
.modal {
  display: none;
  position: fixed;
  margin: 0 auto;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.55);
  transition: all 0.8s ease-out; }
  .modal:before {
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    content: ''; }

.modal__wrapper {
  z-index: 4;
  position: relative;
  color: #414141;
  background-color: white;
  margin: auto;
  max-width: 800px;
  width: 90%;
  height: 80vh;
  max-height: 500px; }

.modal__content {
  height: 100%;
  padding: 0 30px;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative; }

/* The Close Button */
.modal__close i {
  position: absolute;
  top: 27px;
  right: 22px;
  width: 14px;
  height: 14px;
  background: url(../images/icons/close.svg);
  cursor: pointer; }

.form__header {
  color: #44b; }

.lecture-add {
  /* display: none;*/
  margin-bottom: 50px; }

.lecture-add__wrapper {
  border-radius: 3px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 5px 0px rgba(0, 0, 0, 0.23);
  max-width: 570px;
  max-height: 98%;
  height: auto;
  overflow-y: auto;
  display: inline-block;
  white-space: normal;
  vertical-align: middle;
  text-align: left; }

.lecture-add__content {
  height: auto; }

.lecture-form {
  width: 500px;
  margin-bottom: 20px; }

.form__cancel {
  margin-right: 10px; }

.lecture-add__date-row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.lecture-form .form-item__input {
  width: 100%;
  box-sizing: border-box; }

.lecture-add__time.form-item__input {
  width: 50px; }

.lecture-add__time-divider {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0 3px; }

.lecture-add__error {
  color: red;
  visibility: hidden;
  margin-bottom: 10px; }

.form-item__input {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding: 7px;
  margin-top: 5px; }

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.dote-icon {
  width: 10px;
  height: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5px 10px 5px 0; }

.close-icon {
  width: 15px;
  height: 15px;
  display: inline-block;
  vertical-align: middle;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' viewBox='0 0 21.9 21.9' enable-background='new 0 0 21.9 21.9' width='15px' height='15px'%3E%3Cpath d='M14.1,11.3c-0.2-0.2-0.2-0.5,0-0.7l7.5-7.5c0.2-0.2,0.3-0.5,0.3-0.7s-0.1-0.5-0.3-0.7l-1.4-1.4C20,0.1,19.7,0,19.5,0 c-0.3,0-0.5,0.1-0.7,0.3l-7.5,7.5c-0.2,0.2-0.5,0.2-0.7,0L3.1,0.3C2.9,0.1,2.6,0,2.4,0S1.9,0.1,1.7,0.3L0.3,1.7C0.1,1.9,0,2.2,0,2.4 s0.1,0.5,0.3,0.7l7.5,7.5c0.2,0.2,0.2,0.5,0,0.7l-7.5,7.5C0.1,19,0,19.3,0,19.5s0.1,0.5,0.3,0.7l1.4,1.4c0.2,0.2,0.5,0.3,0.7,0.3 s0.5-0.1,0.7-0.3l7.5-7.5c0.2-0.2,0.5-0.2,0.7,0l7.5,7.5c0.2,0.2,0.5,0.3,0.7,0.3s0.5-0.1,0.7-0.3l1.4-1.4c0.2-0.2,0.3-0.5,0.3-0.7 s-0.1-0.5-0.3-0.7L14.1,11.3z' fill='%23b5b5b5'/%3E%3C/svg%3E") no-repeat; }

.button {
  display: inline-block;
  color: #000;
  font-size: 15px;
  line-height: 30px;
  text-decoration: none;
  border-radius: 3px;
  border: 1px solid #ffdb4d;
  padding: 0 15px;
  cursor: pointer; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

.row.buttons {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.row.lecturers-and-rooms > .column:last-child {
  margin-left: 10%; }

.row.lecturers-and-rooms > .column {
  width: 45%; }

.date-select {
  position: relative; }

@media all and (max-width: 670px) {
  .speaker__photo {
    height: 150px; }
  .lecture-add__wrapper {
    width: 100%;
    height: 100%; }
  .lecture-form {
    width: 100%; }
  .modal-list-item__name {
    min-width: 200px;
    margin-bottom: 10px; }
  .modal-list__list-title {
    display: none; }
  .date-select {
    width: 100%;
    margin-bottom: 15px; } }

.modal-list {
  border-radius: 3px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 5px 0px rgba(0, 0, 0, 0.23);
  max-width: 490px;
  overflow-y: auto;
  display: inline-block;
  white-space: normal;
  vertical-align: middle;
  text-align: left;
  height: auto; }

.modal-list .column {
  margin-bottom: 15px; }

.lecture-popup, .schools-popup, .rooms-popup {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  white-space: nowrap;
  text-align: center; }

.popup {
  position: absolute; }

.lecturer-popup__content {
  position: absolute;
  left: -215px;
  bottom: 35px;
  z-index: 999;
  padding: 20px;
  width: 550px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.16), 0px 4px 5px 0px rgba(0, 0, 0, 0.23); }
  .lecturer-popup__content::after {
    content: "";
    display: table;
    clear: both; }

.lecturer-popup--hidden {
  display: none; }

.lecturer-popup__tail {
  position: absolute;
  bottom: -12px;
  border-radius: 3px;
  left: 263px;
  width: 25px;
  height: 25px;
  background: #fff;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  box-shadow: 4px -4px 5px 0px rgba(0, 0, 0, 0.16); }

.lecturer-popup__close {
  position: absolute;
  top: 22px;
  right: 22px;
  width: 14px;
  height: 14px;
  background: url("../images/icons/close.svg");
  cursor: pointer; }

.lecturer-popup img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.19); }

.lecturer-popup__name {
  display: block;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #000; }

.lecturer-popup__img {
  display: block;
  float: left; }

.lecturer-popup__desc {
  display: block;
  padding-left: 20px;
  float: left;
  width: 335px; }
  .lecturer-popup__desc p {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    color: #000; }

@media (max-width: 760px) {
  .lecturer-popup__content {
    position: fixed;
    left: 50%;
    top: 50%;
    bottom: auto;
    width: 90%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%); }
  .lecturer-popup__tail {
    display: none; }
  .lecturer-popup__name {
    padding-top: 15px; }
  .lecturer-popup__desc {
    width: 100%;
    padding: 0; } }

/*!
 * Pikaday
 * Copyright © 2014 David Bushell | BSD & MIT license | http://dbushell.com/
 */
.pika-single {
  z-index: 9999;
  display: block;
  position: relative;
  color: #333;
  background: #fff;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .pika-single.is-hidden {
    display: none; }
  .pika-single.is-bound {
    position: absolute;
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.5); }

.pika-single {
  *zoom: 1; }
  .pika-single:before, .pika-single:after {
    content: " ";
    display: table; }
  .pika-single:after {
    clear: both; }

.pika-lendar {
  float: left;
  width: 240px;
  margin: 8px; }

.pika-title {
  position: relative;
  text-align: center; }
  .pika-title select {
    cursor: pointer;
    position: absolute;
    z-index: 9998;
    margin: 0;
    left: 0;
    top: 5px;
    filter: alpha(opacity=0);
    opacity: 0; }

.pika-label {
  display: inline-block;
  *display: inline;
  position: relative;
  z-index: 9999;
  overflow: hidden;
  margin: 0;
  padding: 5px 3px;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  color: #333;
  background-color: #fff; }

.pika-prev,
.pika-next {
  display: block;
  cursor: pointer;
  position: relative;
  outline: none;
  border: 0;
  padding: 0;
  width: 20px;
  height: 30px;
  text-indent: 20px;
  white-space: nowrap;
  overflow: hidden;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 75% 75%;
  opacity: .5;
  *position: absolute;
  *top: 0; }
  .pika-prev:hover,
  .pika-next:hover {
    opacity: 1; }
  .pika-prev.is-disabled,
  .pika-next.is-disabled {
    cursor: default;
    opacity: .2; }

.pika-prev,
.is-rtl .pika-next {
  float: left;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAUklEQVR42u3VMQoAIBADQf8Pgj+OD9hG2CtONJB2ymQkKe0HbwAP0xucDiQWARITIDEBEnMgMQ8S8+AqBIl6kKgHiXqQqAeJepBo/z38J/U0uAHlaBkBl9I4GwAAAABJRU5ErkJggg==");
  *left: 0; }

.pika-next,
.is-rtl .pika-prev {
  float: right;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAU0lEQVR42u3VOwoAMAgE0dwfAnNjU26bYkBCFGwfiL9VVWoO+BJ4Gf3gtsEKKoFBNTCoCAYVwaAiGNQGMUHMkjGbgjk2mIONuXo0nC8XnCf1JXgArVIZAQh5TKYAAAAASUVORK5CYII=");
  *right: 0; }

.pika-select {
  display: inline-block;
  *display: inline; }

.pika-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 0; }
  .pika-table th,
  .pika-table td {
    width: 14.285714285714286%;
    padding: 0; }
  .pika-table th {
    color: #999;
    font-size: 12px;
    line-height: 25px;
    font-weight: bold;
    text-align: center; }
  .pika-table abbr {
    border-bottom: none;
    cursor: help; }

.pika-button {
  cursor: pointer;
  display: block;
  box-sizing: border-box;
  outline: none;
  border: 0;
  margin: 0;
  width: 100%;
  padding: 5px;
  color: #666;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  background: #f5f5f5; }
  .is-today .pika-button {
    color: #33aaff;
    font-weight: bold; }
  .is-selected .pika-button {
    color: #fff;
    font-weight: bold;
    background: #33aaff;
    box-shadow: inset 0 1px 3px #178fe5;
    border-radius: 3px; }
  .is-disabled .pika-button,
  .is-outside-current-month .pika-button {
    pointer-events: none;
    cursor: default;
    color: #999;
    opacity: .3; }
  .pika-button:hover {
    color: #fff;
    background: #ff8000;
    box-shadow: none;
    border-radius: 3px; }

.pika-week {
  font-size: 11px;
  color: #999; }

.is-inrange .pika-button {
  background: #D5E9F7; }

.is-startrange .pika-button {
  color: #fff;
  background: #6CB31D;
  box-shadow: none;
  border-radius: 3px; }

.is-endrange .pika-button {
  color: #fff;
  background: #33aaff;
  box-shadow: none;
  border-radius: 3px; }
